@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    font-size: clamp(1rem, 1.5vw, 2rem);
}
body{
    
    color: white;
    background: #081b29;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}


.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
}
.navbar a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}
.navbar a:hover,
.navbar a.active {
    color: lightseagreen;
}
.home{
    display: flex;
 
    height: 100vh;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    position: relative;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
}


.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}





.home-content h3{
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: rgb(67, 184, 223);
}


.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
}

.home-content p{
    position: relative;
    font-size: 15px;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.7s;
}



.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 45px;
    
}

.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 3;
}






.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: lightseagreen;
    border: 2px solid lightseagreen;
    border-radius: 6px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 2;
    overflow: hidden;
    transition: .3s;
}

.btn-box a:hover{
    color: lightseagreen;
}



.btn-box a:nth-child(2){
    background: transparent;
    color: lightseagreen;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}
.btn-box a:nth-child(2)::before{
    background: lightseagreen;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#081b29;
    z-index: -2;
    transition: .3s;
}
.btn-box a:hover::before{
    width: 100%;

}
.home-sci{
    position: absolute;
    bottom: 35px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 3;
}











.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 2px solid lightseagreen;
    border-radius: 50%;
    font-size: 20px;
    color: lightseagreen;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
}
.home-sci a:hover{
      color: #081b29;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: lightseagreen;
    z-index: -1;
    transition: .3s;
}

.home-sci a:hover::before{
    width: 100%;

}

/* keyframes */
@keyframes showRight{
    100%{
        width: 0;
    }
}

/*contact*/

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content {
    max-width: 800px;
    text-align: center;

}

.contact .content h2{
    font-size: 36px;
    font-weight: 600;
}
.container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    background-color: aliceblue;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 450;
    color: lightseagreen;

}

.contactForm{
    width: 39%;
    padding: 40px;
    background:none ;
  
}

.contactForm h2{
    font-size: 35px;
    color: lightseagreen;
    font-weight: 500;
}
.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input
{
 
        width: 100%;
        padding: 5px 0;
        font-size: 16px;
        margin: 8px 0;
        
        border: none;
        border-bottom: 2px solid #333;
        outline: none;
        resize: none;
}
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 8px 0;
    
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span {
    position: absolute;
    
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 8px 0;
    pointer-events: none;
    transform: 0.5s;
    color: #666;

}


/*fg*/


